.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app__body {
  display: flex;
  height: 90vh;
  width: 90vw;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px black;
  margin-top: -25px;
}

.app__welcome {
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.app__welcomeSubText {
  margin-top: 50px;
  color: #0a8d48 !important;
}

@media screen and (max-width: 767px) {
  .app__body {
    height: 100%;
    width: 100%;
    margin-top: 0;
  }
}
